streamlit==1.19.0
altair==4.2.2

# Core
pandas
numpy

# Machine learning / model
scikit-learn
xgboost
joblib

# Visualization
matplotlib
seaborn
plotly

# Geospatial & OSM
geopandas
osmnx
folium

# Web app
streamlit

# HTTP / APIs
requests

# PDF export
fpdf2

# Excel export
openpyxl

# Jupyter (for notebooks)
jupyter
ipykernel
